* {
    font-family: "Montserrat";
}

.wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2vw 12vw;
    flex-wrap: wrap;
}

.allspots-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
}


.allspots-spot-image-container {
    width: 99%;
    padding-bottom: 100%;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.allspots-spot-image-container img {
    position: absolute;
    object-fit: cover;
    width: 200px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 15px;
}

.allspots-spot-info {
    font-size: 14px;
    width: 14.5em;
}

.allspots-spot-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 2px 2px 0px;
    /* margin-top: 5px; */
    min-width: 0;
}

.allspots-spot-location {
    font-weight: bolder;
}

.allspots-spot-country {
    font-size: 13px;
    color: rgb(171, 178, 193);
}

.allspots-spot-price {
    font-weight: bolder;
}

.allspots-spot-price span {
    font-weight: lighter;
}

.allspots-spot-rating {

    text-align: end;
}

/* .create-spot-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    width: 350px;
    padding: 10px;
    margin-top: 50px;
} */

input {
    width: 90%;
    padding: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.submitButton {
    width: 90%;
    height: 35px;
    color: white;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: auto;
}

.validation-errors {
    list-style: none;
    font-size: 14px;
    color: rgb(255, 90, 96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 95%;
    font-size: 14px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin: 4px 0px;
}

input:focus {
    outline: none;
}

.edit-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.edit-form-input-wrapper {
    border: rgb(200, 200, 200) 1px solid;
    border-radius: 9px;
    margin: 15px 25px 25px 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.edit-form-header-container {
    margin-bottom: 10px;
}

.edit-form-container {
    display: flex;
    justify-self: center;
}

.edit-form-header-container .edit-form-input-break {
    width: 105%;
}

.edit-form-input-break {
    background-color: rgb(200, 200, 200);
    height: 1px;
    margin-left: -11px;
    width: 103%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.edit-form-container textarea {
    margin-left: 3px;
}

.edit-form-container input {
    margin-left: 3px;
}

.edit-form-container label {
    color: rgb(255, 90, 90);
    margin-left: 6px;
}

.submit-button {
    width: 99%;
    padding: 10px;
    margin: 0px 0px 5px -3px;
    border: 1px rgb(255, 90, 96) solid;
    border-radius: 5px;
    background-color: rgb(255, 90, 90);
    color: white;
    font: bold;
}

.submit-button:hover {
    background: white;
    border: 1px rgb(255, 90, 90) solid;
    color: rgb(255, 90, 90);
    box-shadow: 1px 1px 1px rgb(255, 50, 50);
}

.single-spot-container {
    display: flex;
    flex-direction: column;
    margin: 0px 12vw;
    margin-bottom: 80px;
}

.single-spot-header-name {
    margin-top: 40px;
    margin-bottom: 5px;
}

.single-spot-header-detail {
    margin-top: -14px;
    margin-bottom: 20px;
}

.single-spot-header-detail span {
    font-size: 15px;
    margin-right: 5px;
    font-weight: 500;
}

.single-spot-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    overflow: hidden;
    border-radius: 10px;
    height: 450px;
}

.single-spot-preview-image {
    max-height: 450px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 450px;
}

.single-spot-other-images-container {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 6px;
    height: 450px;
}

.single-spot-other-image {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.single-spot-bottom-images {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px
}

.single-spot-bottom-left h2 {
    margin-top: 40px;
}

.single-spot-linebreak {
    display: flex;
    background-color: rgb(96, 123, 198, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 98%;
    height: 1px;
}

.aircover {
    width: 120px;
    height: 25px;
    display: flex;
    padding-bottom: 15px;
}

.single-spot-bottom-right-floating {
    background-color: white;
    border-radius: 10px;
    border: solid rgb(187, 200, 228, 0.3) 0.1px;
    box-shadow: 0px 0px 10px rgb(187, 200, 228, 0.7);
    /* height: fit-content; */
    height: 22vh;
    width: 90%;
    margin: 40px 0px 40px 10px;
    padding: 20px 0px 0px 20px;
}

.floating-header {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 30px;
}

.single-spot-price {
    font-size: 22px;
    font-weight: bolder;
}

.single-spot-floating-review {
    padding-top: 5px;
}

.long {
    width: 99.9%
}

.bold {
    font-weight: bolder;
}

.single-spot-floating-review span {
    font-weight: bolder;
    font-size: 14px;
}

.spot-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 255px;
    height: 305px;
    border-radius: 10px;
    box-sizing: border-box;
    flex-shrink: 1;
    margin: 5px
}

.image {
    width: 215px;
    height: 215px;
    border-radius: 10px;
    object-fit: cover;
    box-sizing: border-box;
    max-width: 250px
}

.location {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
    color: black
}

.myspots-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myspots-header>h1, .myspots-header>h4 {
    display: flex;
    justify-content: center;
}

.myspot-buttons-container {
  display: flex;
  justify-content:space-between;
  padding: 0px 2px 2px 0px;
  min-width: 0;
}

.myspots-buttons {
  cursor: pointer;
  width: 115px;
  padding: 3px 1px;
  margin: 3px 0px 1px 0px;
  border: 1px rgb(255, 90, 90) solid;
  border-radius: 4px;
  background: rgb(255, 90, 90);
  color: white;
  font: bold;
}

.create-spot-whole-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.create-spot-header-container {
    margin-bottom: 10px
}

.create-spot-form-container .form-input-break{
    width: 100%
}

.create-spot-form-container input {
    margin-left: 2px;
}
.create-spot-form-container textarea {
    margin-left: 2px;
}

.create-spot-form-container label {
    color: rgb(255, 90, 90);
    margin-left: 6px
}

.submit-button {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 5px -3px;
    border: 1px rgb(255, 90, 90) solid;
    border-radius: 5px;
    background: rgb(255, 90, 90);
    color: white;
    font: bold;
}

.submit-button:hover {
    background: white;
    border: 1px rgb(255, 90, 90) solid;
    color: rgb(255, 90, 90);
}

.form-input-wrapper {
    border: rgb(200, 200, 200) 1px solid;
    border-radius: 9px;
    margin: 15px 25px 25px 25px;
    padding-left: 10px;
    padding-top: 5px;
  }

  .form-input-break{
    background-color: rgb(200, 200, 200);
    height:1px;
    margin-left: -11px;
    width: 103%;
    margin-top: 4px;
    margin-bottom: 4px;
  }

.write-review-button {
    padding: 8px;
    margin: 0px 25px 5px 25px;
    border: 1px rgb(255, 90, 90) solid;
    border-radius: 4px;
    background: rgb(255, 90, 90);
    color: white;
    font: bold;
    cursor: pointer;
    align-items: left;
}
